* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background-color: #100e1d;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
    text-rendering: optimizeLegibility;
}

.app-container {
    display: flex;
    flex-direction: row;
}

/* ---------- TodayPanel ---------- */

.today-container {
    width: 32%;
    height: 100vh;
    background-color: #1e213a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 42px 46px 52px;
}

.today-search-row {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.search-launch-btn {
    width: 161px;
    height: 40px;
    background-color: #6e707a;
    color: #e7e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.geo-location-btn {
    background-color: #6e707a;
    color: #e7e7eb;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.today-icon {
    width: 200px;
    height: 200px;
}

.today-temp b {
    font-size: 144px;
    line-height: 169px;
    font-weight: 500;
    color: #e7e7eb;
    margin-top: 87px;
}

.today-temp {
    font-size: 48px;
    font-weight: 300;
    color: #6e707a;
}

.today-type {
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    color: #a09fb1;
}

.today-details {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #88869d;
}

/* ---------- SearchPanel ---------- */

.search-panel-container {
    position: absolute;
    width: 32%;
    height: 100vh;
    background-color: #1e213a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 42px 46px 52px;
}

.search-exit {
    position: absolute;
    top: 19.21px;
    right: 53.21px;
    color: #e7e7eb;
    font-size: 24px;
    font-weight: 700;
}

.search-list-item {
    text-decoration: none;
    width: 100%;
    height: 64px;
    color: #e7e7eb;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 12px;
}

.search-list-item:hover {
    border: 1px solid #616475;
    box-sizing: border-box;
}


/* ---------- Dashboard ---------- */

.dashboard-container {
    width: 68%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 42px 123px 154px;
    color: #e7e7eb;
}

.dashboard-temp-btn-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 66px;
}

.dashboard-temp-btn {
    background-color: #6e707a;
    color: #e7e7eb;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-left: 12px;
}

.forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.forecast-card {
    background-color: #1e213a;
    width: 120px;
    width: 17%;
    height: 177px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
}

.fcast-card-icon {
    width: 62px;
    height: 62px;
}

.fcast-hi-lo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.fcast-hi {
    display: inline;
}

.fcast-lo {
    display: inline;
    color: #a09fb1;
}

.highlights-title {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    margin-right: auto;
    margin-top: 72px;
    margin-bottom: 32px;
}

.highlights-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 48px;
}

.highlight-card-large {
    background-color: #1e213a;
    height: 204px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-left: 49px;
    padding-right: 49px;
    padding-bottom: 24px;
    
}

.highlight-card-small {
    background-color: #1e213a;
    height: 159px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 30px;
}

.wind-speed {
    font-weight: 500;
    font-size: 36px;
    line-height: 42.26px;
    margin-bottom: 10px;
}

.wind-speed b {
    font-weight: 700;
    font-size: 64px;
    line-height: 75.14px;
}

.wind-direction {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wind-direction-pointer {
    background-color: #6e707a;
    color: #e7e7eb;
    height: 29.5px;
    width: 29.5px;
    border-radius: 29.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    transform: rotate(-150deg);
    margin-right: 10px;
}

.humidity-gauge {
    width: 100%;
    margin-left: 49px;
    margin-right: 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gauge-top-label-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.gauge-background {
    width: 100%;
    height: 8px;
    border-radius: 80px;
    background-color: #e7e7eb;
}

.gauge-color-meter {
    height: 8px;
    border-radius: 80px;
    background-color: #ffec65;
    margin-right: auto;
}

.gauge-bottom-label-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}



